p {
  margin: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  border: 20px solid $white;
  border-radius: 0 0 100px 0;
  text-align: center;
  position: relative;
  &__logo {
    margin: 24px 27px;
  }
  &__title {
    padding: 345px 151px 64px 251px;
  }
  &__languages {
    margin: 15px 27px;
  }
  &__link {
    margin-left: 13px;
  }
}

.hero nav {
  display: flex;
  justify-content: space-between;
}

.button {
  &__scroll {
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
}

.details {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100vh;
  &__content {
    width: 40%;
    padding: 81px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button__primary {
    width: 40%;
    padding: 8px;
  }
  .button__primary--corner {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
