@media (max-width: 567px) {
  .hero {
    border: 8px solid $white;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__logo {
      margin: 16px 10px 16px 24px;
    }
    &__languages {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
    &__title {
      display: none;
      &--mobile {
        padding: 32px;
      }
    }
  }
  .details {
    border: 8px solid $white;
    background: none;
    flex-direction: column;
    height: auto;
    &__imgbox {
      display: block;
      & img {
        min-width: 500px;
      }
    }
    &__content {
      display: none;
      &--mobile {
        display: block;
        padding: 48px 32px;
      }
    }
    & .button__primary {
      width: 100%;
    }
  }
  .cta {
    border: 8px solid $white;
    background-position: center;
    height: auto;
    &__content {
      display: none;
      &--mobile {
        display: block;
        background-color: $transparentblack;
        color: $white;
        padding: 80px 32px;
        max-width: 100%;
      }
    }
    &__logo {
      display: none;
    }
    &__email {
      display: block;
    }
    &__contacts {
      margin-bottom: 40px;
    }
  }
  .button {
    &__scroll {
      display: none;
    }
    &__primary {
      &--sticky {
        display: none;
      }
    }
  }
  .cookies {
    display: none;
  }
  h1 {
    font-size: 34px;
    line-height: 42px;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
  }
}
