.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.67) 100px, rgba(0, 0, 0, 0)),
    linear-gradient(rgba(0, 0, 0, 0) 427px, rgba(0, 0, 0, 0.67)),
    center / cover url("/assets/images/ringi-aripark1.jpg");
}

.cookies {
  &__content {
    background-color: $white;
  }
}

.details {
  background-image: url("/assets/images/ringi-aripark3.jpg");
  background-size: cover;
  &__content {
    background-color: $transparentwhite;
  }
}

.cta {
  background-image: url("/assets/images/ringi-aripark1.jpg");
  background-size: cover;
  &__content {
    background-color: $transparentblack;
  }
}
